#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define SCROLL 1

// Mounted PAW3222: right reports +Y, down reports -X.
// Swap first, then invert output Y: (x, y) -> (y, -x).

#define BALL_TRANSFORM (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)

&trackball_listener {
    // Use the same mounting correction for pointer motion and ball scrolling.

    input-processors = <&zip_xy_transform BALL_TRANSFORM>;

    scroll {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform BALL_TRANSFORM>,
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_scaler 1 16>;
    };
};

/ {
    behaviors {
        scroll_click: scroll_click {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Physical layout:
        // SW1             SW5
        // SW2     SW3     SW4

        base {
            bindings = <
&mkp LCLK  &lt 2 PAGE_DOWN  &scroll_click SCROLL MCLK  &lt 1 LC(PAGE_UP)  &mkp RCLK
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&sys_reset  &trans  &trans  &trans  &bootloader
            >;
        };
    };
};
